*{
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Merriweather', serif;
}

.rose-4{
    background-color: #2b3595!important; 
    flex-wrap: wrap;
    height: 80px;   
}

nav{
    position: fixed;
    z-index: 9999;;
}
nav ul a {
    font-size: 19px;
    cursor: pointer;
    margin-top: 5px;
}
a{
    color: #182952;  
}

.enlace{
    text-decoration: underline !important;
    color: #182952;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px !important;
    text-align: center !important;
    color: #182952 !important;
}
h4{
    margin-right: 35px;
    color: #7045af;
    margin-bottom: 20px;
}

.text{
padding: 30px;
margin-top:20px;
}

#toolsBox{
    background-color: #7045af; 
    padding-left: 15px;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

.tools{
    width: 100px;
    display: inline-block;
    margin-top: 20px;
} 
.links-text{
    color: #2b3595;
}

.teal-text.text-darken-1 {
    color:#2b3595 !important;
    }
.carousel{
    margin-top: 20px;
}
.carousel p{ 
        color: #2b3595 !important;
    }  
    h2{
        color: #2b3595 !important;
    }
    .carousel .indicators .indicator-item {
    background-color: #2b3595 !important;
    width: 20px;
    height: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: #182952;
    border: 2px solid white;
    margin-bottom: 60px;
}
.indicator-item:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
.waves-effect{
    border-radius: 15px;
    background-color: #182952 !important;
}
.carousel-item{
    background-repeat: no-repeat;
    background-size: 800px 400px;
    background-position: center; 
    background-color: white !important;
}

#first{
    background-image: url('./img/cifrado.png');  
}

#second{
    background-image: url('./img/dexi.png');
    
}

#third{
    background-image: url('./img/books.png')
}

#fourth{
    background-image: url('./img/visitor.png')
}

@media only screen and (max-width: 600px) {
    h4{
        margin-right: 10px;
        color: #7045af;
    }

    p{
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        text-align: center !important;
        color: #182952;
    }

    .text{
        padding: 15px;
        margin-top:18px;
        }

        .carousel-item{
            background-repeat: no-repeat;
            background-size: 350px 400px;
            background-position: center; 
            background-color: white !important;
        }
        #aboutMe{
            height: auto !important;
        }
    
}
