*{
    margin: 0%;
    padding: 0%;
}   

body {
        font-family: 'Raleway', sans-serif !important;
        margin: 0px;
        padding: 0px;
        background-color: #fefefe !important;
        background-image: url('../css/img/bubble2.png');
        background-size: 100px;
        background-repeat: initial;
    }
.bg-light {
    background-color: #02558b!important;
    margin: auto;
    position: fixed !important;
    z-index: 9999;
    width: 100%;
    }

button:focus {
    outline: none;
    background-color: #3f7294;
    color: black !important;
}

.collapse.show {
    background-color: #02558b;
    color: black;
}

nav ul a {
    font-size: 19px;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
}
.nav-item a{
    color: white!important; 
}

#about{
  margin: 0px 20px;
  padding: 0px 20px;
  color: #6d7993 !important;
}
article{
    padding: 0px 20px;
}
p{
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
    font-weight: bold !important;
    text-align: center !important;
    color: black !important;
}
h4{
    font-family: 'Lato', sans-serif !important;
    margin-right: 35px;
    color: #575da9;
    margin-bottom: 30px !important;
    font-weight: bold !important;
    margin: 10px 30px;
    margin-top:50px;
}

#myProjects{
    margin: 10px 50px;
    margin-top: 70px;
}
#toolsBox{
    margin: 0px 10px;
    padding: 10px;
    text-align: center; 
}
.text{
    border-bottom-style: ridge;
    margin: 0px 20px;
    border-color: #d7dd35;
}
.card{
    margin-bottom: 20px!important;
}
.btn-primary {
    color: white;
    background-color: #fa7c92 !important;
    background-color: #e42d9f !important;;
    border-color: #fa7c92 !important;;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5);
    color: #ffffff !important;
}

.card{
    background-color: #ffffff !important;
}

footer{
    padding: 0px !important;
    margin: 0px !important;
    background-color: #02558b!important;
}
.containercopy{
    background-color: #02558b!important;
    color: #ffffff;
    text-align: center;
    padding: 0px !important;
    margin: 0px;
}
.fas{
    color: #02558b;
    font-size: 25px;
}
.fab{
    color: #02558b;
    font-size: 25px;
}

@media only screen and (max-width: 600px) {
    #myProjects{
        padding-top:50px !important;
    }
}